@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    display: none;
}
 
/* Track */
/* ::-webkit-scrollbar-track {
    background: #888;
    border-radius: 5px;
} */
 
/* Handle */
/* ::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 5px;
} */
 
/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: #555;
} */